@model Account
@{
    ViewBag.Title = "Index";
}

<h2>@Model.UserName</h2>
<hr />
@Model.FirstName @Model.LastName<br />@Model.Email
<p />
@Model.Bio
<br />&nbsp;<br />
<a asp-action="Edit">Edit Account</a>
